fastapi>=0.123.0
langchain>=0.3.27
langchain-community>=0.3.31
langchain-ollama>=0.3.0
pydantic>=2.12.5
pyjwt>=2.10.1
pypdf2>=3.0.1
python-dotenv>=1.2.1
python-jose>=3.5.0
python-multipart>=0.0.20
qdrant-client>=1.16.1
uvicorn>=0.38.0
